<div class="card shadow-sm">
    <div class="card-body">
        <a [routerLink]="[postUserId, 'user']" class="text-decoration-none">
            <h6 class="card-subtitle mb-2 text-muted">{{postUsername}}</h6>
        </a>
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.caption}}</p>

        <hr class="my-2">
        
        <a (click)="getComments()" class="link-secondary" role="button" data-bs-toggle="collapse"
            attr.data-bs-target="#commentArea{{i}}" aria-expanded="false" attr.aria-controls="commentArea{{i}}">
            <i class="bi bi-chat me-2"></i>Reply
        </a>
        <div (input)="autogrow($event)" class="collapse" id="commentArea{{i}}">
            <form *ngIf="loggedUser" [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)" class="position-relative">
                <textarea formControlName="comment" type="text" class="form-control"></textarea>
                <div class="text-end my-2">
                    <button id="comment-btn" class="btn btn-link px-3" type="submit"
                        [disabled]="commentForm.invalid || loading">
                        <span>Post</span>
                    </button>
                </div>
            </form>
            <small *ngIf="!loggedUser" class="d-block mb-3">You must be logged to reply to this post</small>

            <div *ngFor="let c of comments">
                <div class="d-flex">
                    <a class="d-flex link-dark text-decoration-none align-items-center me-2">
                        <div class="post-avatar-box"><img src=""></div>
                    </a>
                    <span class="d-flex align-items-center fw-bold">{{c.userid}}</span>
                </div>
                <div class="d-flex">
                    <div class="comm-spacer"></div>
                    <p class="comment">{{c.comment}}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>