<div class="card shadow-sm">
    <div class="card-body">
        <a [routerLink]="[postUserId, 'user']" class="text-decoration-none">
            <h6 class="card-subtitle mb-2 text-muted">{{postUsername}}</h6>
        </a>
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.caption}}</p>
    </div>
    <div class="card-footer">
        <a class="link-secondary" role="button" data-bs-toggle="collapse" attr.data-bs-target="#commentArea{{i}}"
            aria-expanded="false" attr.aria-controls="commentArea{{i}}">
            <i class="bi bi-chat me-2"></i>Reply
        </a>
        <div (input)="autogrow($event)" class="collapse" id="commentArea{{i}}">
            <form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)" class="position-relative">
                <textarea formControlName="comment" type="text" class="form-control"></textarea>
                <div class="text-end my-2">
                    <button id="comment-btn" class="btn btn-link px-3" type="submit" [disabled]="commentForm.invalid">
                        <span *ngIf="!loading">Post</span>
                        <svg *ngIf="loading" class="spinner" viewBox="0 0 50 50">
                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                        </svg>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>