textarea {
    resize: none;
    overflow: hidden;
    height: 3rem;
    min-height: 3rem;
    max-height: 180px;
    padding-right: 3.4rem;
}

#comment-btn {
    position: absolute;
    top: 50%;
    right: -4px;
    margin: auto;
    transform: translate(0, -50%)
}

.post-avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 20rem;
    background: url(../../../assets/avatar.png) center;
    background-size: 40px;
    overflow: hidden;

    img {
        height: inherit;
    }
}

.comm-spacer {
    min-width: 40px;
    min-height: 40px;
}
