#hero-bg{
    background: url(../../../assets/background.png);
}

#hero {
    margin: 0 auto;
    margin-top: -1.5rem;
    .carousel-item>img {
        min-height: 360px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1200px) {
    #hero {
        width: 85%;

        .carousel-control-prev {
            left: -5.2rem;
            width: 8%;
        }

        .carousel-control-next {
            right: -5.2rem;
            width: 8%;
        }
    }
}

@media screen and (min-width: 1400px) {
    #hero {
        width: 75%;

        .carousel-control-prev {
            left: -9.5rem;
            width: 13%;
        }

        .carousel-control-next {
            right: -9.5rem;
            width: 13%
        }
    }
}