nav p{
    display: inline;
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 40px;
    &:hover{
        background: $grad1;
        color: white;
        animation: zoom .2s ease;
    }
}

button{
    background: $grad2;
    color: $col1;
    font-size: 1.6rem;
    border: none;
    margin: 40px;
    padding: 15px;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    &:hover{
        animation: shake .3s ease infinite alternate, zoom .5s ease-in-out infinite;
    }
}

@keyframes zoom {
    0% {padding: 15px;}
    50% {padding: 20px;}
    100% {padding: 15px;}
}

@keyframes shake {
    0% {transform: rotate(0deg) translate(0, 0);}
    25% {transform: rotate(5deg) translate(8px, 6px);}
    50% {transform: rotate(0deg) translate(5px, -5px);}
    75% {transform: rotate(-5deg) translate(10px, 4px);}
    100% {transform: rotate(0deg) translate(0);}
}