<button type="button" class="btn btn-outline-dark px-3 me-2" data-bs-toggle="modal" href="#exampleModalToggle2">Sign in</button>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalToggleLabel2">Sign in to Logo.</h3>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
                <span>
                    Not a member yet?
                    <a href="#exampleModalToggle" data-bs-toggle="modal" role="button">Join now</a>
                </span>
            </div>
        </div>
    </div>
</div>