#header {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.src-btn {
    border-radius: 0 0.3rem 0.3rem 0 !important;
}

.nav-link {
    background: linear-gradient(currentColor 0 0)
        bottom left/
        var(--underline-width, 0%) 0.1em
        no-repeat;
    transition: background-size 0.5s;
}

.nav-link:hover, .nav-link.active {
    --underline-width: 100%;
}

#dropdownUser1 {
    padding: 3px 12px 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5rem;
    transition: all .07s ease-out;
    &:hover, &:focus {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    #avatar-box {
        display: inline-block;
        height: 32px;
        width: 32px;
        border-radius: 20rem;
        background: url(../../../assets/avatar.png) center;
        background-size: 40px;
    }
}
